body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
    float: left;
    text-align: left;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-element {
  width: 100%;
  margin: 0 2%;

}

.flex-container>button {
  margin: 0 4%;
}
